body {
    background-color: #ddd;
    color: #000;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 14px;
    padding: 20px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}