{# base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple MVC</title>
    <link rel="stylesheet" href="/static/css.css" />
</head>
<body>
  
  <div style="margin-bottom: 20px">
    <a href="/">Main page</a> &nbsp; <a href="/subpage">Subpage</a> &nbsp; <a href="/subpage/sub">Subsubpage </a> &nbsp; <a href="/subpage/sub/124/2ndval">Subsubpage with values</a>
  </div>
  
  {% block body %}
  {% endblock %}
  
</body>
</html>